.sidebar
    a.sidebar-tirgger(href="#")
        span
        span
        span
    nav.sidebar-menu
        ul
            li: a(href="#") さとう
            li: a(href="#") しょうゆ
            li: a(href="#") みりん
            li: a(href="#") あやね
            li: a(href="#") とうふ