.sidebar
    .wrapper
        a.sidebar-trigger(href="#") 
            span
            span
            span
    .sidebar-menu
        ul
            li: a(href="#") 管理者一覧
            li: a(href="#") 管理者新規登録
            li: a(href="#") 加盟店登録
            li: a(href="#") あやね
            li: a(href="#") とうふふ