.sidebar
    //ハンバーガーメニュー
    a.sidebar-trigger(href="#") 
        span
        span
        span
    .sidebar-menu
        ul
            li: a(href="#") sample1
            li: a(href="#") sample2
            li: a(href="#") sample3
script(src='js/sidemenu_pure.js')