//- トップページ画面
extends ./template/_layout.pug

block contents
    //- 設定ファイル読み込み なぞだ
    //include ./config/mockup/_toppage.pug
    
    // コンテンツヘッダー
    include ./components/_contentHeader.pug
    //+contentHeader('upload') 
    //- メインコンテンツ要素: Block
    .mainContent 
        .fileUpload
            .title ファイルアップロード
            form(method="post" action="/posts/admin/items/upload" enctype="multipart/form-data")
                -var csrf = "{{ csrf_field() }}"
                span #{csrf}
                .dropArea
                    img(src="https://placehold.jp/100x100.png")
                    p ドラッグ&ドロップでファイルをアップロード
                .submitArea
                    label ファイルアップロード
                    input(type="file" name="up_file")#fileInput
                    button.square_btn 送信
    script(src='js/toppage_pure.js')