html(lang="ja")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        //link(rel="stylesheet" href="/css/sample.css")
        link(rel='stylesheet', href='/stylesheets/normalize.css')
        link(rel='stylesheet', href='/stylesheets/vue-app/sample/sample.css')
        <link href="https://fonts.googleapis.com/earlyaccess/sawarabigothic.css" rel="stylesheet" />
        block title
        block meta
    body
            #main
                include ../components/sidebar
                .maincontent
                    include ../components/header
                    block content
                script(src="/javascripts/sample.js")
