.header{
    width: 100%;
    height: $headerHeight;
    font-size: 20px;
    display: flex;
    align-items: center;

    .title{
        padding-left: 10px;
        font-weight: bold;
    }

    .logout{
        //ログアウトは右寄せにする
        margin-left:auto;
        margin-right: 30px;
        font-weight: bold;
        font-size:10px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color:black;
        span{
            margin-left: 1px;
        }
    }
}

