
@import "../variables";
@import "./icon";

//サイドメニュー
.sidebar{
    height:$headerHeight;
    transition: all .4s;
    width: 100px;
    background: $headerColor;

    //ハンバーガーアイコン
   .sidebar-trigger{
       transition: all .4s;
       position: relative;
       display: inline-block;
       width: 40px;
       height: 33px;
       margin-top: 10px;
       margin-left: 10px;

       span{
            position: absolute;
            display: inline-block;
            background-color: black;
            height: 4px;
            width: 100%;
            border-radius: 4px;
       }

       span:nth-of-type(1){
        top:0
       }
       span:nth-of-type(2){
        top:14px;
       }
       span:nth-of-type(3){
        bottom:0;
       }
   }

   .sidebar-trigger.active{
        transform: translateX(250px);
    }

   //普段は隠れている
   .sidebar-menu{
        transition: all .2s;
        min-width:250px;
        left:-250px;
        height: 100%;
        position: absolute;
        color:white;
       ul{
           padding-left: 0;
           margin-top: 0;
           border-top:1px solid #f1f6fc;
           li{
               list-style-type: none;
               border-bottom:1px solid #f1f6fc;
               padding:15px 10px;
               border-left:8px solid $sideMenuColor;

               &:hover{
               border-left:8px solid $menuSelectedColor;
               }

               a{
                   display: block;
                   width: 150px;
                   text-decoration: none;
                   color:white;
               }
           }
       }
   }
}

.sidebar-menu.active{
    transform: translateX(250px);
}

.sidebar.active{
    width: 322px;
    //background: $sideMenuColor;
}

.maincontent{
    transition: all .2s;
}