extends layout
block title
    title AllDug
block content
    div#alldug-app
        .container
            section.tabs
                input#tab1(type="radio" name="radio-set" checked)
                label.tab-label-1 Tab1
                input#tab2(type="radio" name="radio-set")
                label.tab-label-2 Tab2
                input#tab3(type="radio" name="radio-set")
                label.tab-label-3 Tab3
                input#tab4(type="radio" name="radio-set")
                label.tab-label-4 Tab4