extends layout
block title
    title AllDug
block content
    #alldug-app.flexbox
        section.main 
            .container
                h1 Main
                //写真にコメントをつけれる感じでいこうかな
                .dugs
                    .dug
                        .day 2017/10/16(月)
                        .weather 今日は雨んきー
                        .images
                            p 07:00
                            img(src="https://placehold.jp/480x360.png" width="480px" height="360px")
                            p 19:00
                            img(src="https://placehold.jp/480x360.png" width="480px" height="360px")
                            p 22:00
                            img(src="https://placehold.jp/480x360.png" width="480px" height="360px")
                        button comment

        section.side
            h1 Side
            p side