/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017/10/26, 16:20:51
    Author     : yamauchi
*/

/** Color */
$headerColor:white;
$sideMenuColor:#3c4959;
$mainTextColor:black;
$buttonColor:#44b9ff;
$borderColor:#e6e6e6;
$menuSelectedColor:#44b9ff;


/** ヘッダーの高さ */
$headerHeight:100px;