
@import "./variables";
@import "./components/layout";
@import "./components/_icon";
@import "./components/_sidemenu";
@import "./components/_contentHeader";
@import "~normalize.css";

.pageContent{
    width: 100%;
}

.mainContent{
    width: 100%;
    min-width: 600px;
}

.fileUpload{
    width: 90%;
    margin:0 auto;
    border: 2px solid $borderColor;

    &-title{
        width: 100%; 
        border-bottom: 2px solid $borderColor;
        font-weight: bold;

        p{
            padding-left: 3px;
        }
    }
    
    &-dropArea{
        width: 80%;
        margin: 15px auto;                
        border: 2px dashed $borderColor;
        text-align: center;
        padding: 20px 0;
        color:$borderColor;
    }

    &-submitArea{
        width:100%;
        margin: 0px auto 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        span{
            margin-right: 10px;
        }

        input{
            margin-right: 10px;
            height: 20px;
            border: 1px solid $borderColor;
            border-radius: 3px;
        }

        //input fileは非表示にして、labelで操作する。
        label{
            margin-right: 10px;
            #fileInput{
                display: none;
            }    
        }
    }
}



